@inherits LayoutComponentBase

<MudSnackbarProvider />
<MudThemeProvider Theme="_theme" />

<div class="auth-wrapper aut-bg-img">
    <div class="auth-content">
        <div class="card">
            <div class="card-body text-center">
                @Body
            </div>
        </div>
    </div>
</div>