@inject NavigationManager Nav

<ul class="nav-menu">
    <li><NavLink href="/">Dashboard</NavLink></li>

    <AuthorizeView Policy="@AdminPolicies.SuperAdminOnly">
        <li><NavLink href="/websites">Websites</NavLink></li>
    </AuthorizeView>

    <AuthorizeView Policy="@AdminPolicies.WebsiteAdminOrAbove">
        <li><NavLink href="/members">Members</NavLink></li>
        <li><NavLink href="/translations">Translations</NavLink></li>
    </AuthorizeView>
</ul>
